/*
Theme Name: LoE v1
Author: Mateusz Cora
Description: LoE template
Version: 0.0.1
Tags: bootstrap
*/

body {
    padding-top: 80px;  
}
/*
*   Navigation bar 
*/

nav a{
    text-decoration:none;
    color:inherit;
}

.active {
    background-color: #4d4d4d;
    box-shadow: inset 2px 2px 3px black;
}

.admin-bar-space{
    margin-top:30px;
}

.navbar-header {
   //width: 80px;
}
.nav-item {
    width: 115px;
    font-size: 1.5em;
    vertical-align:central;
    text-shadow: 1px 1px 1px #040038;
}
.play-now{
    width:125px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #4d4d4d;
}

.logo-img {
    max-height:200px;
    margin:0 auto;
}
@media (max-width: 768px) {
    .logo-img{
        display:none;
    }
}
.navbar-toggle-button {
    z-index: 2000;
    background-color: #4d4d4d;
    color: white;
    border: 2px solid #d2af6b;
    box-shadow: 5px 5px 10px black, inset 1px 1px 2px black;
}

. brand .img-brand {
    width:27px;
}
.navigation-menu {
    box-shadow: 10px 10px 25px black;
    border-bottom: 3px solid #d2af6b;
    background-color: #1a1a1a;
    color: palegoldenrod;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.play-now {
    // background-color: khaki;
    display: inline-block;
    float: right;
    margin-right: 40px;
}
@media (max-width: 900px) {
    .play-now-wrapper .play-now {
        display:none;
    }
}
.navbar .navbar-toggle .icon-bar {
    background-color:palegoldenrod;
    color: palegoldenrod;
}

/*
*   General page formatting
*/
.main{
    max-width:1300px;
    margin: auto;
}
.logo-large {
    max-height: 200px;
    justify-content: center;
    text-align: center;
}
/*
*   News posts
*/
.row.equal {
    display: flex;
    flex-wrap: wrap;
}

.post {
    color: palegoldenrod;
    padding: 20px 30px 20px 30px;
    margin-bottom 15px;
    border: 3px solid #d2af6b;
    box-shadow: 10px 10px 25px black, inset 2px 2px 3px black;
    text-shadow: 1px 1px 1px black;
}

.post-featured-image{
    max-width:400px;
    max-height:400px;
    padding:10px 0px 10px 0px;
}
post-featured-banner{
    position:absolute;
    top:-120px;
    left:-120px;
}

h3{
    margin:0px;
}
.post-title{
    margin-bottom: 20px;
}
.post-title a {
        text-decoration: none;
        color: inherit;
    }
.post-title a:hover {
        color: #fbfaee;
    }
h2{
    margin-top:10px;
}
.first-post-buster{
    margin-left:0px;
    margin-right:0px;
    margin-bottom:30px;
}
.read-more{
    text-align:right;
}
.read-more a{
    text-decoration:none;
    color:inherit;
}
    .read-more a:hover {
        color: #fbfaee;
    }
/*
    Pagination
*/
#pagination{
    margin-top:50px;


}
.page-numbers {
    color: palegoldenrod;
    padding:5px 20px 5px 20px;
}
.page-numbers a {
    text-decoration: none;
}
.page-numbers:hover {
        background-color: #4d4d4d;
        color: palegoldenrod;
}
.current {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #4d4d4d;
}
.page-numbers-div{
    display:flex;
    align-items:center;
    justify-content:center;
}

/*
    *Footer stuff
*/
.footer{
    margin-top:100px;
    margin-bottom:50px;
}
.footer-info {
    text-align:right;
    border-right: 1px #d2af6b;
}
.footer-social {

/*
    Social icons
*/
}
.fa {
    padding: 10px;
    margin: 5px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    box-shadow: 10px 10px 25px black;
}

.fa:hover {
    opacity: 0.7;
}
a:hover{
    text-decoration:none;
    color:inherit;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
/* YouTube */
.fa-youtube-play {
    background: red;
    color: white;
}
/* 
    Page styling
*/
.page-content{

}
body .row .page-sidebar{

    background-color:lightcyan;

}

/*
    *lore page
*/
.lore-nav-menu li:hover {
    box-shadow: 10px 10px 25px black, inset 2px 2px 3px black;
}
.lore-nav-menu li {
    list-style-type:none;
    margin: 0;
    padding:10px 20px 10px 20px;
}
.lore-nav-menu{
    padding:0;
}